@using Privasight.Model.Shared.Display
@using Privasight.Model.Shared.DataStructures.Dashboard

<RadzenCard class="@GetClasses()" @onclick="OnClickFunc">
	<h3>@Title</h3>
	<div class="mt-auto mb-2">
		@if (CardType == CardTypes.WithLineChart)
		{
			<div class="row">
				<LineChart Title="@Title" Items="LineChartItems"/>
				<h2 class="col-md-5 col-lg-4 text-lg-center text-end align-self-end text-nowrap">
					@LineChartItems?.Last().Number
				</h2>
			</div>
		}
		else
		{
			<h2 class="text-end me-3 mt-auto">@Number</h2>
		}
	</div>
</RadzenCard>


@code {
	private const string DefaultClasses = "h-100 clickable d-flex";

	[Parameter]
	public Func<Task> OnClickFunc { get; set; } = () => Task.CompletedTask;

	[Parameter]
	public CardTypes CardType { get; set; }

	[Parameter]
	public IEnumerable<LineChartItem>? LineChartItems { get; set; }

	[Parameter]
	public int Number { get; set; }

	[Parameter]
	public string Title { get; set; } = "";

	[Parameter]
	public string CustomClasses { get; set; } = "";

	private string GetClasses()
	{
		return CustomClasses + DefaultClasses;
	}
}