@using Privasight.Model.Shared.Display

<RadzenCard class="@GetClasses()" @onclick="OnClickFunc">
	<h3>@Title</h3>
	@if (ShowLineChart)
	{
		<div class="row">
			<LineChart Title="@Title" Items="Items"/>
			<h1 class="col-md-2 text-lg-center text-end align-self-end">
				@Items?.Last().Number
			</h1>
		</div>
	}
	else
	{
		<h1 class="text-end me-3 mt-auto">@Number</h1>
	}
</RadzenCard>


@code {
	private const string DefaultClasses = "m-lg-3 m-2 h-90 clickable";

	[Parameter]
	public Func<Task> OnClickFunc { get; set; } = () => Task.CompletedTask;

	[Parameter]
	public bool ShowLineChart { get; set; }

	[Parameter]
	public IEnumerable<LineChartItem>? Items { get; set; } = new[]
	{
		new LineChartItem(0, DateTime.Parse("02/02/2022 00:00:00")),
		new LineChartItem(1, DateTime.Parse("03/02/2022 00:00:00")), 
		new LineChartItem(2, DateTime.Parse("04/02/2022 00:00:00")),
		new LineChartItem(2, DateTime.Parse("05/02/2022 00:00:00"))
	};

	[Parameter]
	public int Number { get; set; }

	[Parameter]
	public string? Title { get; set; }

	[Parameter]
	public string CustomClasses { get; set; } = "";

	private string GetClasses()
	{
		return CustomClasses + DefaultClasses;
	}
}