<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Privasight</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<RadzenPanelMenu>
			<RadzenPanelMenuItem Text="Facebook" Icon="facebook" Expanded="true" Path="/">
				<RadzenPanelMenuItem Text="Load in Data" Path="/" Icon="backup"/>
				<RadzenPanelMenuItem Text="All Available Data" Path="facebook/dashboards/default" Icon="assessment"/>
				<RadzenPanelMenuItem Text="Manage Dashboards" Path="facebook/manageDashboards" Icon="build"/>
			</RadzenPanelMenuItem>
		</RadzenPanelMenu>
	</nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
