<ol class="d-block">
	<li>Go to this <a href="https://www.facebook.com/dyi/?referrer=ayi" target="_blank" class="text-decoration-underline">link</a><br/></li>

	<li>Change the Format to JSON <img class="d-block" src="img/fb_download_instruction/step1.png" alt="how to change data format" width="800"/><br/></li>
	<li>Change the data range to "All Time" so that comparison can be done properly<img class="d-block" src="img/fb_download_instruction/step2.png" width="800" alt="how to change data range"/><br/></li>
	<li>
		Select the type of information you want to download. It is recommended to only pick the one Privasight support to prevent a long wait time for Facebook to generate the data.<br/>
		Also, please note that Privasight cannot process zip files that are larger than 512 MB. Zip files that exclude "Messages" & "Posts" with low media quality are usually smaller than this size.
		<img class="d-block" src="img/fb_download_instruction/step3.png" width="800" alt="selecting what data to download"/>
		<br/>
		Here is the list of information supported by Privasight (the list will keep expanding)
		<ul>
			<li>
				Your Topics <img class="d-block" src="img/fb_download_instruction/your-topics.png" width="800" alt="your topics location on the download page"/>
			</li>
			<li>
				Ads information <img class="d-block" src="img/fb_download_instruction/ads-info.png" width="800" alt="ads information location on the download page"/>
			</li>
		</ul>
		<br/>
	</li>
	<li>Press the "Request a download" Button<img class="d-block" src="img/fb_download_instruction/step4.png" width="800" alt="location of the request a download button"/><br/></li>
	<li>Switch to the "Available files" tab and press the "Download" button on the first row.<br/>
		(It will take a while for Facebook to generate the Facebook Information file. You will usually receive an email notification from them when the file is ready)<img class="d-block" src="img/fb_download_instruction/step5.png" width="800" alt="location of the request a download button"/><br/></li>
	<li>Respond to the prompts and you should see a zip file downloaded to your download folder. This is the file you need to upload to Privasight.<img class="d-block" src="img/fb_download_instruction/step6.png" alt="zip file being downloaded" width="800"/><br/></li>
</ol>