@page "/"
@using Privasight.Wasm.Services

@inject DataService _dataService
@inject ConfigService _configService
@inject DialogService _dialogService

<PageTitle>Home</PageTitle>

<h1>Load in zip files</h1>
<div class="my-3">
	<InputFile label="file_upload" title="file_upload" OnChange="@LoadFiles" accept=".zip"/>
</div>
<div class="my-3">
	<RadzenButton Text="How to download your Facebook data" Click=@OpenFbInfoDialog ButtonStyle="ButtonStyle.Info"/>
</div>

@code {

	private async Task LoadFiles(InputFileChangeEventArgs e)
	{
		var (newData, generationDate) = await DataAccessHelper.TransformJsonToObj(e, _configService);

		DataAccessHelper.AddGenerationDate(newData, generationDate);

		await _dataService.LoadDataIntoStorage(newData);
	}

	public async Task OpenFbInfoDialog()
	{
		await _dialogService.OpenAsync<FBDownloadInstruction>("How to download your Facebook Data",
			options: new DialogOptions { Width = "95%", Height = "95%", Resizable = true });
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}