@page "/"
<h1>Welcome to Privasight - An insight into Your Privacy</h1>
<br/>
<h3>What is Privasight?</h3>
<b>We aim to help you make the first step of gaining back the control of your own data</b> <br/>
<p>Privasight aims to allow anyone to understand their copy of data returned by different social media companies. 
	With the right of access protected by the GDPR, users can request a copy of their data from companies. 
	But the data returned by these companies are usually in various data format and sometimes even incorrectly encoded.<br/>
	Privasight aims to remove the technical barrier for everyone and ease the understanding and analysis of their data.
</p>
<h3>How does it all work?</h3>
<ol>
	<li>You request the data from the company and download the data from them.</li>
	<li>You upload the data to Privasight and TADA you can see the data with a lovely predefined dashboard.</li>
	<li>You can also create your own dashboard and view your data in whatever way you want.</li>
</ol>
<br/>
<h3>How Privasight handle your data?</h3>
<p>
	<b>WE DON'T STORE YOUR DATA</b>
	We are not interested in storing any of your data. All of your data never leave your device. 
	<br/>
	<h6><code>Information for nerds: How is this even possible in technical terms?</code></h6>
	Privasight is a client-side web app built with .NET Blazor WebAssembly. This means all operations are performed
	within your browser without the need of sending data and requests back and forth to a server. This is in fact a static website.
	<b>Your data never leave your browser!</b> <br/>
	@* todo need more information for local storage*@
	In terms of data storage, we make use of localstorage of browser so that your data won't be lost after a refresh and you can still see them the next time you visit us. 

</p>