@page "/"
@using Privasight.Model.Shared
@using Privasight.Wasm.Services
@using Blazored.LocalStorage
@using Privasight.Model.Shared.Interfaces

@inject DataService _dataService
@inject ConfigService _configService
@inject DialogService _dialogService
@inject ILocalStorageService _localStorage

<PageTitle>Home</PageTitle>

<h1>Load in zip files</h1>
<div class="my-3">
	<InputFile label="file_upload" title="file_upload" OnChange="@LoadFiles" accept=".zip"/>
</div>
<div class="my-3">
	<h3>Download Links:</h3>
	<a href="https://www.facebook.com/dyi/?referrer=ayi" target="_blank">Download your Facebook Data</a>
</div>

<div>@_generationDate</div>

@code {

	private DateTimeOffset _generationDate;
	private async Task LoadFiles(InputFileChangeEventArgs e)
	{
		var (newData, generationDate) = await DataAccessHelper.TransformJsonToObj(e, _configService);

		//this line is here only for the display on the FE
		_generationDate = generationDate;

		DataAccessHelper.AddGenerationDate(newData, generationDate);

		await LoadDataIntoStorage(newData);
	}
	
	public async Task LoadDataIntoStorage(Dictionary<string, IFileWrapper> newData)
	{
		_dataService.FbRoot ??= new CompanyRoot();
		//TODO update the data with existing instead of overwrite
		_dataService.FbRoot.AvailableData = newData; 

		await _localStorage.SetItemAsync(nameof(_dataService.FbRoot), _dataService.FbRoot);
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}