@page "/facebook"
@using Decrypt.Model.Facebook
@using Decrypt.Services

@inject DialogService _dialogService
@inject DataService _dataService

<PageTitle>Facebook Data</PageTitle>
<h1>Your Facebook Data</h1>

<div class="row">
	<div class="col-4">
		<NumberCardWithTableDialog Title= "@AdvertisersUsingYourActivity.Title" 
		                           Number="_dataService.FbRoot?.AdvertisersUsingYourActivity?.SharedAdvertisers?.Count() ?? 0"
		                           OnClickFunc="ShowAdvertisersUsingYourActivityDialog" />
	</div>
	<div class="col-4">
		<NumberCardWithTableDialog Title= "@AdvertiserYouInteractedWith.Title" 
		                           Number="_dataService.FbRoot?.AdvertiserYouInteractedWith?.InteractedAdvertisers?.Count() ?? 0"
		                           OnClickFunc="ShowAdvertisersUsingYourActivityDialog" /> @* todo: change the function *@
	</div>
</div>

@code {
	private async Task ShowAdvertisersUsingYourActivityDialog()
	{
		await _dialogService.OpenAsync<SharedAdvertisersTable>(AdvertisersUsingYourActivity.Title,
			new Dictionary<string, object>
			{ { nameof(SharedAdvertisersTable.SharedAdvertisers), 
				_dataService.FbRoot?.AdvertisersUsingYourActivity?.SharedAdvertisers ?? Array.Empty<SharedAdvertiser>() } },
			new DialogOptions { Width = "90%", Height = "90%", Resizable = true });
	}
}
