@page "/facebook"
@using Decrypt.Model.Shared.Interfaces
@using Decrypt.Services

@inject DialogService _dialogService
@inject DataService _dataService

<PageTitle>Facebook Data</PageTitle>
<h1>Your Facebook Data</h1>

<div class="row">
	@foreach (var wrapper in _dataService.FbRoot?.AvailableData.Values!)
	{
		if (wrapper is ISingleListFile file)
		{
			_singleListFile = file;
			<div class="col-4">
				@NumberCardWithTableDialogInstance
			</div>
		}
	}
</div>

@code {
	ISingleListFile _singleListFile = null!;
	RenderFragment NumberCardWithTableDialogInstance => builder =>
	{
		var type = typeof(NumberCardWithSingleListTableDialog<>).MakeGenericType(_singleListFile.ItemsType);
		builder.OpenComponent(1, type);
		builder.AddAttribute(2, nameof(NumberCardWithSingleListTableDialog<dynamic>.SingleListFile), _singleListFile);
		builder.CloseComponent();
	};
}
