@page "/"
@using System.Text.Json
@using Decrypt.Model.Facebook
@using System.IO.Compression
@using Decrypt.Model
@using Decrypt.Services

@inject DataService _dataService
<PageTitle>Home</PageTitle>

<h1>Load in zip files</h1>
<div class="my-3">
	<InputFile label="file_upload" title="file_upload" OnChange="@LoadFiles" accept=".zip" />
</div>
<div class="my-3">
	<h3>Download Links:</h3>
	<a href="https://www.facebook.com/dyi/?referrer=ayi" target="_blank">Download your Facebook Data</a>
</div>


@code {
	private const long MaxFileSize = 4294967296; // 4 GB

	private async Task LoadFiles(InputFileChangeEventArgs e)
	{
		var options = new JsonSerializerOptions();
		options.Converters.Add(new FbConverter());
		var ingestedOn = DateTimeOffset.Now;

		//TODO: figure out a better way to do this
		await using var stream = new MemoryStream();
		await e.File.OpenReadStream(MaxFileSize).CopyToAsync(stream);
		using var archive = new ZipArchive(stream);
		foreach (var entry in archive.Entries)
		{
			if (entry.FullName.EndsWith(AdvertisersUsingYourActivity.Filepath, StringComparison.OrdinalIgnoreCase))
			{
				var unzippedEntryStream = entry.Open();
				_dataService.FbRoot ??= new FbRoot();
				
				_dataService.FbRoot.AdvertisersUsingYourActivity = await JsonSerializer.DeserializeAsync<AdvertisersUsingYourActivity>(unzippedEntryStream, options);

				if (_dataService.FbRoot?.AdvertisersUsingYourActivity?.SharedAdvertisers == null) continue;
				foreach (var advertiser in _dataService.FbRoot.AdvertisersUsingYourActivity.SharedAdvertisers)
				{
					advertiser.IngestedOn = ingestedOn;
				}
			}
		}
	}

	
}