@page "/"
@using System.Text.Json
@using Decrypt.Model.Facebook
@using System.IO.Compression
@using Decrypt.Model
@using Decrypt.Services

@inject DataService _dataService
<PageTitle>Home</PageTitle>

<h1>Load in zip files</h1>
<InputFile OnChange="@LoadFiles" />

<a href="https://www.facebook.com/dyi/?referrer=ayi">Download your Facebook Data</a>



@code {
	private const long MaxFileSize = 4294967296; // 4 GB

	private async Task LoadFiles(InputFileChangeEventArgs e)
	{
		var options = new JsonSerializerOptions();
		options.Converters.Add(new FbConverter());

		//TODO: figure out a better way to do this
		await using var stream = new MemoryStream();
		await e.File.OpenReadStream(MaxFileSize).CopyToAsync(stream);
		using var archive = new ZipArchive(stream);
		foreach (var entry in archive.Entries)
		{
			if (entry.FullName.EndsWith(AdvertisersUsingYourActivity.Filepath, StringComparison.OrdinalIgnoreCase))
			{
				var unzippedEntryStream = entry.Open();
				_dataService.FbRoot ??= new FbRoot();
				_dataService.FbRoot.AdvertisersUsingYourActivity = await JsonSerializer.DeserializeAsync<AdvertisersUsingYourActivity>(unzippedEntryStream, options);
			}
		}
	}

	
}